.modal-product {
    background-color: #eeeeeea4;
    position: fixed;
    z-index: 10000;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-1000px);
    transition: 0.5s ease-in-out;
}

.modal-product.show {
    transform: translateY(0px);
}

.modal-product__close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.modal-product__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    min-height: 500px;
    width: 70%;
    padding: 20px;
}


.modal-product__image, 
.modal-product__content {
    width: 50%;
}

@media screen and (max-width: 771px) {
    .modal-product__image, 
.modal-product__content {
   width: 100%;
}
}


.modal-product__image {
    display: flex;
    justify-content: center;
}

.modal-product__image img {
    max-width: 80%;
    /* height: 100%; */
    object-fit: contain;
    
}

@media screen and (max-width:771px) {
    .modal-product__image img {
        width: 50%;
    }
}

.modal-product__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.modal-product__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1rem;
}

.modal-product__desc {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-size: 0.9rem;
}

.modal-product__price {
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--color);
}

.modal-product__add-to-cart  {
    background-color: #000;
    padding: 10px;
    border-radius: 6px;
    margin-top: 28px;
    transition: 0.5s linear;
}

.modal-product__add-to-cart.hidden  {
    opacity: 0.4;
    cursor: not-allowed;
}

.modal-product__add-to-cart.hidden button {
    pointer-events: none;

}

.modal-product__add-to-cart button {
    width: 100%;
    color: white;
    border: none;
}


